:host {
  max-width: 30em;
}

h1 {
  text-align: center;
}

label {
  display: block;
}

input {
  display: inline-block;
  width: 3em;
}

.letter {
  padding-right: 1em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

