<ng-container *ngIf="quizz.current">
  <h1>{{quizz.current.name}}</h1>
  <h2>Question {{quizz.progress.questionId + 1}} / {{quizz.current.questions.length}}</h2>
  <p>{{quizz.current.questions[quizz.progress.questionId].label}}</p>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <div class="answers">
      <div class="answer" *ngFor="let letter of ['A', 'B', 'C', 'D']">
        <input type="radio" name="answer" [value]="letter" formControlName="answer">
        <span class="letter">{{letter}}</span>
        <span>{{quizz.current.questions[quizz.progress.questionId]['answer' + letter]}}</span>
      </div>
    </div>
    <div class="buttons">
      <button class="primary" [disabled]="f.invalid">Suivant</button>
    </div>
  </form>

  <!-- {{f.value | json }} -->
</ng-container>
