/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif
}

button, input {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  margin: 0.5em 0;
}

button {
  background: #eee;

  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      border-color: #ddd;
      background: #ddd;
    }

    &:active {
      border-color: #ccc;
      background: #ccc;
    }
  }

}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

form {
  display: flex;
  flex-flow: column;
}

input {
  display: block;
  width: 100%;
}
