/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif
}

button {
  border: 0.1em solid #eee;
  background: #eee;

  &:not(:disabled) {
    cursor: pointer;
    &:hover {
      border-color: #ddd;
      background: #ddd;
    }

    &:active {
      border-color: #ccc;
      background: #ccc;
    }
  }

}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
