h1 {
  text-align: center;
}

textarea {
  width: 100%;
}

label {
  display: block;
  margin: 1em 0;
}

.answers {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.text-input {
  display: flex;
  align-items: center;
  margin: 0;

  span.letter {
    padding-right: 1em;
  }

  span.input {
    position: relative;
    app-show-max-length {
      position: absolute;
      right: 0.3em;
      bottom: -1em;
    }
  }
}

.radio-inputs {
  width: 3em;
}

.radio-input {
  display: flex;
  align-items: center;
  height: 3.4em;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
