:host {
  display: flex;
  align-items: center;
  height: 3em;
  background: #eee;
  padding-left: 0.5em;

  a {
    display: flex;
    align-items: center;
    span {
      font-size: 1.3em;
      font-weight: bold;
    }
  }
  img {
    position: relative;
    top: 0.1em;
    height: 2.5em;
  }
}
